<app-layout></app-layout>
<!--<div class="app-container">
  <header class="app-header">
    <div class="logo">
      <i class="fas fa-pen-nib"></i>
      <span>Label Designer</span>
    </div>
  </header>
  <div class="editor-wrapper">-->
<!-- Left: Toolbox -->
<!--<div class="toolbox-panel">
  <h2 class="section-heading">Toolbox</h2>
  <app-toolbox class="flex-panel"></app-toolbox>
</div>-->
<!-- Middle: Canvas -->
<!--<div class="canvas-panel flex-panel">
  <app-canvas-editor
        (itemSelected)="onItemSelected($event)"
        [canvasItems]="canvasItems"
        (canvasItemsChange)="onCanvasItemsChange($event)">
  </app-canvas-editor>
</div>-->
<!-- Right: Properties -->
<!--<div class="properties-panel">
    <h2 class="section-heading">Properties</h2>
    <app-properties-panel
      *ngIf="selectedItem"
      [item]="selectedItem"
      (itemUpdated)="onItemUpdated($event)"
      class="flex-panel">
    </app-properties-panel>
  </div>

</div>-->
<!--<soti-popup #clientSettingConfigPopup="sotiPopup" position="endBottom" nobeak="true">
  <app-toolbox>
  </app-toolbox>
</soti-popup>-->
<!--</div>-->
